@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.guest input::placeholder {
    font-size: .8rem;
}
.nav-container{
    margin: 0 2.5rem;
    /* padding-top: 0.75rem;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.4); */
}
.nav-sidebar{
    padding: 0.75rem;
    display: block;
}
.nav-sidebar:hover, .nav-sidebar:active, .nav-sidebar:focus{
    background-color: #FDFDFD;
    color: #77AFB7;
    border-radius: 5px;
    box-shadow: 100px;
}
.dashboard{
    font-family: "Inria Sans", sans-serif;
}