@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* SUBMIT BUTTON COMPONENT */
::-webkit-file-upload-button {
    display: none;
}
::file-selector-button {
   display: none;
}

/* LOGIN REGISTER */
.guest input::placeholder {
    font-size: .8rem;
}

/* USER LAYOUT */
.nav-container{
    margin: 0 2.5rem;
}
.nav-sidebar{
    padding: 0.75rem;
    display: block;
}
.nav-sidebar:hover, .nav-sidebar:focus{
    background-color: #FDFDFD;
    color: #77AFB7;
    border-radius: 6px;
    box-shadow: 100px;
}
.dashboard{
    font-family: "Inria Sans", sans-serif;
    display: grid;
}
div::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}
div::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
    height: 10px;
}
div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #77afb7a4;
}

/* CALENDAR */
textarea:focus, #static-modal input:focus, .date-picker datepicker:focus{
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0);
    outline: transparent;
    outline: red;
}
.datepicker-picker{
    background-color: #FDFDFD;
}

#task_checkpoints:focus::placeholder{
    color:black;
}

/* UPLOADED BUTTON COMPONENT */
.employee-uploaded::after {
    content: "UPLOADED!";
}

.employee-uploaded:hover::after {
     content: "";
}

.reupload {
  display: none;
}

.employee-uploaded:hover .reupload {
  display: inline;
}

/* TASK-CARD COMPONENT */
.tasks{
    overflow-x: auto;
    /* white-space: nowrap; */
    min-height: 95vh;
}
.tasks .card{
    max-width: 10rem;
    min-width: 20rem;
    background-color: #FEFEFE;
    height: fit-content;
}

/* RESPONSIVE */
@media only screen and (max-width: 991px) {
    .upcoming-info{
        display:inline;
    }
    .antialiased{
        overflow-x: hidden;
    }
    .dashboard{
        overflow-x: hidden;
        padding-left: 70px;
        padding-right: 70px;
        display:block;
    }
    .part-1, .part-2, .part-3 {
        margin-bottom: 1.2rem;
    }
    .text-xl{
        font-size: 18px;
    }
    .text-lg{
        font-size: 16px;
    }
    .text-sm, .text-base, p, li{
        font-size: 14px;
    }
}
